.cards-container {
    margin: 10px 0px;
    max-height: 1000px;
    opacity: 1;
    // transition: opacity 0.5s ease-out;
    // transition: all .5s cubic-bezier(.36,-.64,.34,1.76);
    // transition: transform 0.5s;
    transition: all 0.5s;
}
.cards-container.removed {
    overflow: hidden;
    opacity: 0;
    max-height: 0px;
    margin: -5px 0;
    // transform: scaleY(0)
}
.card {
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	max-width: 100%;
	// margin: 20px;
	overflow: hidden;
	width: 100%;
}

.card h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.card h2 {
	letter-spacing: 1px;
	margin:  0;
}

.card h3 {
	letter-spacing: 1px;
    margin: 0;
    opacity: 0.7;
}


.card-preview {
	color: #fff;
	padding: 15px;
    max-width: 350px;
    min-width: 150px;
}

.card-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.card-info {
	padding: 10px;
    position: relative;
	width: 100%;
}
.card-info.footer {
	padding-bottom: 40px;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #ffffff6b;
	border: 0;
	color: rgb(95, 95, 95);
	padding: 10px 10px 10px 15px;
    border: 1px solid #c2c2c26e;
    max-height: 38px;
}

.btn.btn-left {
    border-radius: 15px  0px  0px 15px;
}
.btn.btn-right {
    border-radius: 0px  15px  15px 0px;
}

.btn:hover {
    background-color: #e0e0e03d;
}

.btn-group {
    position: absolute;
    margin: 5px 0px 0px 0px;
	bottom: 5px;
    right: 5px;
    
}

.category {
    padding: 10px 10px 10px 15px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    // margin: auto 5px;
    max-height: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
}